:root {
    --primary-color: #2F383E;
    --secondary-color: #2D353B;
    --border-color: #000000;
    --text-color: #b8b8b8;
    --selected-button-color: #3A4349;
    --hovered-button-color: #313a41;
    --input-color: #b8b8b8;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: inherit; 
}
  
::-webkit-scrollbar-thumb {
    background: #272e33;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--text-color);
}

#root {
    display: flex;
}

.input {
    width: 100%;
    font-size: .9em;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--input-color);
    border: none;
    font-family: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}