:root {
    --primary-color: #2F383E;
    --secondary-color: #2D353B;
    --border-color: #292929;
    --text-color: #b8b8b8;
    --selected-button-color: #3A4349;
    --hovered-button-color: #313a41;
    --input-color: #3A4349;
    --icon-color: #ffffff;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: inherit; 
}
  
::-webkit-scrollbar-thumb {
    background: #272e33;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--text-color);
}

#root {
    display: flex;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.static-icon {
    /* filter: opacity(0.5) drop-shadow(0 0 var(--icon-color)) saturate(1000%); */
    filter: opacity(.3) drop-shadow(0 0 var(--icon-color)) drop-shadow(0 0 var(--icon-color)) drop-shadow(0 0 var(--icon-color));
}