* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: inherit; 
}
  
::-webkit-scrollbar-thumb {
    background: #272e33;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#root {
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1; 
    min-width: 0;
    background-color: #2D353B;
    border-right: 1px solid #000000;
}

.sidebar-header {
    min-height: 50px;
    padding: 10px 20px;
    flex-shrink: 0;
}

.sidebar-content {
    padding: 10px 20px;
    overflow-y: auto;
    flex-grow: 1;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 4; 
    background-color: #2F383E;
}

.topnav {
    background-color: #2D353B;
    height: 50px;
    flex-shrink: 0;
    width: 100%;
    border-bottom: 1px solid #000000;
}

.item-list {
    overflow-y: auto;
    flex-grow: 1;
}

.input {
    width: 100%;
    font-size: .9em;
    border-radius: 5px;
    padding: 5px;
    background-color: #b8b8b8;
    border: none;
    font-family: inherit;
}

.new-sub-input {
    margin-bottom: 10px;
    margin-top: 20px;
}

.folder-input{
    margin-bottom: 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.all-feeds {
    margin-bottom: 20px;
}

.sidebar-btn {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: .9em;
    background-color: inherit;
    color: #b8b8b8;
    font-family: inherit;
}
.sidebar-btn:hover {
    background-color: #313a41;
    
}

.folder {
    margin-bottom: 15px;
}

.feed-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.selected {
    background-color: #3A4349;
}

.item {
    width: 50%;
    margin: auto;
    min-width: 300px;
    color: #b8b8b8;
    word-wrap: break-word;
    
    padding: 20px 10px;
    /* border-bottom: solid 3px #282f35; */
    border-bottom: 1px solid #000000;
}

.item:hover {
    background-color: #2D353B;
}

.item a {
    display: block;
    color: #b8b8b8;
    text-decoration: none;
}

.item-source {
    font-size: .8em;
    display: flex;
    align-items: center;
}

.item-title {
    font-weight: bold;
    font-size: 1.2em;
}

.item-title:hover {
    text-decoration: underline;
}

.item-image {
    width: 75%;
    display: block;
    margin-top: 10px;
}

.item-comments {
    font-size: .8em;
    margin-top: 10px
}

.item-comments:hover {
    text-decoration: underline;
}

.feed-icon {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 2px;
}

.item-icon {
    max-height: 30px;
}

.item-time {
    margin: 20px 0 0 0; 
    font-size: .8em;
    font-weight: normal;
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 50px;
    z-index: 1000;
    background-color: #21292e;
    border: 2px solid black;
    border-radius: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0 ,0, 0, .4);
    z-index: 1000
}