<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RSS Reader</title>
        <link rel="stylesheet" href="stylesheets/index.css">
        <script src="javascript/index.js" defer></script>
    </head>
    <body>
        <ul class="topnav">
            <a href="/">Feeds</a>
            <a id="user-btn" href="#Account">Account</a>
        </ul>
        <div class="container">
            <div class="sidebar">
                <div class="add-feed">
                    <input type="text" id="newSubInput" placeholder="Enter RSS feed URL">
                </div>
                <ul id="subscribedFeeds">
                    <li>
                        <button id='all-feeds' class="feed active"><img class='feed-icon' src="/images/default-feed-icon.png">All Feeds</button>
                    </li>
                    <!-- List of subscribed feeds will be dynamically added here -->
                </ul>
            </div>
            <div class="main-content">
                <ul id="itemList">
                    <!-- List of retrieved articles will be dynamically added here -->
                </ul>
            </div>
        </div>
        <!--
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
        -->
    </body>
</html>