<h1>Hi <%= name %> </h1>
<ul>
    <% posts.forEach((post) => { %>
        <li><%= post.title + " " + post.isoDate %></li>
    <% }) %>
</ul>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>