<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RSS Reader</title>
        <link rel="stylesheet" href="stylesheets/index.css">
        <script src="javascript/index.js" defer></script>
    </head>
    <body>
        <h1>???</h1>
        <div class="container">
            <div class="sidebar">
                <div class="add-feed">
                    <input type="text" id="newSubInput" placeholder="Enter RSS feed URL">
                </div>
                <button id='all-feeds' class="feed active"><img class='feed-icon' src="/images/all-feeds-icon.png">
                    <span class="feed-name">All Feeds</span>
                </button>
                <ul id="subscribedFeeds">
                    <!-- List of subscribed feeds will be dynamically added here -->
                </ul>
            </div>
            <div class="main-content">
                <ul class="topnav">
                    <li>
                        <a id="user-btn" href="#Account">Account</a>
                    </li>
                </ul>
                <ul id="itemList">
                    <!-- List of retrieved articles will be dynamically added here -->
                </ul>
            </div>
        </div>
        <!--
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
        -->
    </body>
</html>