.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1; 
    min-width: 0;
    background-color: var(--secondary-color);
    border-right: 1px solid var(--border-color);
}