* {
    box-sizing: border-box;
}

/* Reset some default styles for better layout control */
body, html {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: "Fira Sans", "helvetica neue", arial, sans-serif; */
    font-family: -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set up the flex container */
.container {
    display: flex;
}

/* Style the left div (subscriptions) */
.sidebar{
    flex: 1; /* Take up remaining space */
    padding: 20px; /* Adjust padding as needed */
    overflow: auto; /* Add scrollability */
    height: 100vh;
    background-color: #2D353B;
}

/* Style the right div (main content) */
.main-content {
    flex: 4; /* Take up twice the space of the left div */
    padding: 20px; /* Adjust padding as needed */
    overflow: auto; /* Add scrollability */
    height: 100vh;
    background-color: #2F383E;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #2D353B;
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #b8b8b8;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 5px;
    font-weight: bold;
  }
  
#user-btn {
    float: right;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #313a41;
}

#newSubInput {
    width: 100%;
    font-size: .9em;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #b8b8b8;
    border: none;
    font-family: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#all-feeds {
    margin-bottom: 20px;
    /* border: 1px solid gray; */
}

.feed {
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: .9em;
    background-color: inherit;
    color: #b8b8b8;
    font-family: inherit;
}

#subscribedFeeds button:hover {
    background-color: #313a41;
}

#subscribedFeeds button.active {
    background-color: #3A4349;
}

.item {
    width: 50%;
    margin: auto;
    min-width: 300px;
    color: #b8b8b8;
    word-wrap: break-word;
    
    padding: 20px 10px;
    border-bottom: solid 3px #282f35;
}

.item:hover {
    background-color: #2D353B;
}

.item a {
    display: block;
    color: #b8b8b8;
    text-decoration: none;
}


.item-title {
    font-weight: bold;
    font-size: 1.2em;
}

.item-title:hover {
    text-decoration: underline;
}

.item-image {
    width: 65%;
    display: block;
    margin-top: 10px;
}

.item-comments {
    font-size: .8em;
    margin-top: 10px
}

.item-comments:hover {
    text-decoration: underline;
}

.item-source {
    font-size: .8em;
    margin-top: 20px;
}

.feed-icon {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 2px;
}

.item-icon {
    max-height: 30px;
}