.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 3; 
    background-color: var(--primary-color);
}

.topnav {
    display: flex;
    align-items: center; 
    background-color: var(--secondary-color);
    height: 50px;
    flex-shrink: 0;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

.settings-btn {
    margin-left: auto;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 5px;
    background-color: inherit;
    padding: 0;
}

.settings-btn:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.settings-icon {
    height: 100%;
    width: 100%;
}

.item-list {
    overflow-y: auto;
    flex-grow: 1;
}

.item {
    width: 50%;
    margin: auto;
    min-width: 300px;
    word-wrap: break-word;
    
    padding: 20px 10px;
    /* border-bottom: solid 3px #282f35; */
    border-bottom: 1px solid var(--border-color);
}

.item:hover {
    background-color: var(--secondary-color);
}

.item a {
    display: block;
    color: inherit;
    text-decoration: none;
}

.item-source {
    font-size: .8em;
    display: flex;
    align-items: center;
}

.item-title {
    font-weight: bold;
    font-size: 1.2em;
}

.item-title:hover {
    text-decoration: underline;
}

.item-image {
    width: 75%;
    display: block;
    margin-top: 10px;
}

.item-comments {
    font-size: .8em;
    margin-top: 10px
}

.item-comments:hover {
    text-decoration: underline;
}

.item-icon {
    max-height: 30px;
}

.item-time {
    margin: 20px 0 0 0; 
    font-size: .8em;
    font-weight: normal;
}