.sidebar-btn {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: .9em;
    background-color: inherit;
    font-family: inherit;
}
.sidebar-btn:hover {
    background-color: var(--hovered-button-color);
    cursor: pointer; 
}

.sidebar-btn:hover .edit-btn {
    opacity: 1;
}

.edit-btn {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    opacity: 0;
    margin-left: auto;
    border: none;
    padding: 0;
    background-color: inherit;
    border-radius: 5px;
}

.edit-btn:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.edit-icon {
    height: 15px;
    width: 15px;
    border-radius: 2px;
}

.btn-icon {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 2px;
}

.icon-rotated {
    transform: rotate(-90deg);
}

.btn-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected {
    background-color: var(--selected-button-color); 
}