.sidebar-content {
    padding: 10px 20px;
    overflow-y: auto;
    flex-grow: 1;
}

.all-feeds {
    margin-bottom: 20px;
}

.folder {
    margin-bottom: 5px;
}

.subscription {
    width: calc(100% - 10px);
    margin-left: 10px; 
}