.sidebar-header {
    margin: 10px 20px;
    border-radius: 5px;
    flex-shrink: 0;
}

.form {
    margin: 10px;    
}


.input {
    width: 100%;
    font-size: .9em;
    padding: 5px;
    background-color: inherit;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    outline: 0;
    font-family: inherit;
    color: inherit;
    margin-top: 5px;
}

.new-sub-input {
    margin-bottom: 7px;
}

.open {
    background-color: var(--input-color);
}

.add-feed-btn {
    border-radius: 5px;
    border: 1px solid var(--text-color);
}

.open .add-feed-btn {
    border: 0;
}


.add-feed-btn:hover {
    background-color: inherit;
}
